.login-display {
    width: 450px;
    height: auto;
    float: right;
    color: white;
    /*    padding: 8px;*/
    border: 1px solid #808080;
    border-radius: 8px;
    text-align: center;
    right: 0px;
    top: 50px;
}

    .login-display .nav-link {
        color: white; /* Change the color of navigation links */
    }

    .login-display .user-name {
        font-weight: bold; /* Make the username text bold */
    }
