@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="login-display">
        <a href="authentication/profile">Välkommen, @context.User.Identity?.Name!</a>
            <button class="btn btn-dark m-1" @onclick="BeginLogOut">Logga Ut</button>
           @*  class="nav-link btn btn-link" = Old Button *@
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="login-display">
            <a href="authentication/register" class="btn btn-dark m-1">Registrera </a>
            <a href="authentication/login" class="btn btn-dark m-1">Logga In</a>
        @* class="btn btn-primary" - Link button *@
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
