/*Note: the commented out attributes, like colors, are from previous versions so that it's easy to revert back if needed
I generally try to keep the style similar to the Figma wireframes (same hex codes etc)
*/

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    /*The main background */
    flex: 1;
    background-color: #e4E8e9;
}

.content {
    /*The box that is displayed behind the "Hello World" message on Home */

    background-color: #e4E8e9;
}

.sidebar {
    /*Main navbar to the left*/

    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: #0e0f24
}

.top-row {
    /*Top nav bar*/

    /*background-color: #f7f7f7;*/
    background-color: #0C1321;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    /* Default: height: 3.5rem;*/
    height: 6rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        color: #e2e2e2; /*Link color for top bar*/
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

table > tbody > :nth-child(odd) {
    /*Alternating row colors for tables*/

    background-color: rgba(0, 0, 0, 0.03);
}

/*.btn-primary {
    color: #fff;*/ /* Textfärg */
    /*background-color: #127e53;*/ /* bakgrundsfärg */
    /*border-color: #224477;*/ /* Färg på kantlinjen */
    /*border-radius: 10px;*/ /* Rundade hörn med en radie på X px */
    /*font-size: 14px;
    padding: 10px 14px;
}*/