@using APLMatchMaker.Shared.DTOs.CompanyDTOs;

<div class="">
    <p>
        Namn:&nbsp;@Company.CompanyName
    </p>
</div>

<div class="">
    <p>
        Web:&nbsp;@Company.Website <br />
        E-post:&nbsp;@Company.CompanyEmail <br />
        Telefon:&nbsp;@Company.Phone
    </p>
</div>

<div class="">
    <p>
        Gata:&nbsp;@Company.PostalAdress <br />
        Postnr. Ort:&nbsp;@Company.PostalNumber&nbsp;@Company.City
    </p>
</div>

<div class="">
    <p>
        Org.Nr:&nbsp;@Company.OrganizationNumber
    </p>
</div>

<div class="">
    <p>
        Anteckningar:<br />@Company.Notes
    </p>
</div>