@using APLMatchMaker.Shared.DTOs.CompanyDTOs;
<p>
    Namn:&nbsp;@Company.CompanyName <br />
    Web:&nbsp;@Company.Website <br />
    E-post:&nbsp;@Company.CompanyEmail <br />
    Telefon:&nbsp;@Company.Phone <br />
    Gata:&nbsp;@Company.PostalAdress
</p>

