@using APLMatchMaker.Shared.DTOs.CompanyDTOs

<table class="table">
    <thead>
        <tr>
            <th scope="col">Namn</th>
            <th scope="col">Titel</th>
            <th></th> @* Spase for button. *@
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Contacts)
        {
            <tr>
                <td>@contact.FullName</td>
                <td>@contact.Title</td>
                <td><button></button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public ICollection<CompanyContactsShortListDTO> Contacts { get; set; } = new List<CompanyContactsShortListDTO>();
}
