<table class="table">

    <thead>

        <tr>
            <th scope="col">Kursnamn</th>
            <th scope="col">Startdatum</th>
            <th scope="col">Slutdatum</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var course in CompListOfCourses)
        {
            <tr>
                <td scope="row"><a href="@($"coursedetails/{course.Id}")">@course.Name</a></td>
                <td scope="row">@course.StartDate.ToString("yyyy-MM-dd")</td>
                <td scope="row">@course.EndDate.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>
