@using APLMatchMaker.Client.Services
@inject IFeedBackService FeedBackService

@if (isVisible)
{
    <div class="alert @(isSuccess ? "alert-success" : "alert-danger")">
        @message
    </div>
}

<p>Does this even show?</p>

@code {
    [Parameter]
    public string? message { get; set; }
    [Parameter]
    public bool isVisible { get; set; }
    [Parameter]
    public bool isSuccess { get; set; }

    protected override void OnInitialized()
    {
        FeedBackService.OnFeedBackRecived += HandleFeedBack;
    }


    private void HandleFeedBack(FeedBack feedBack)
    {
        message = feedBack.Message;
        isSuccess = feedBack.IsSuccess;
        isVisible = feedBack.IsVisible;
        StateHasChanged();
    }

    public void Dispose()
    {
        FeedBackService.OnFeedBackRecived -= HandleFeedBack;
    }

}
