@using APLMatchMaker.Shared.DTOs.CompanyDTOs
@using APLMatchMaker.Client.Components

<table class="table">
    <thead>
        <tr>
            <th scope="col">Projekt</th>
            <th scope="col">Namn</th>
            @* <th scope="col">Start</th>
            <th scope="col">Slut</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var intern in Internships)
        {
            <tr>
                <td scope="row">@intern.ProjectName</td>
                <td scope="row">@intern.FullName</td>
                @* <td scope="row">@intern.StartDate.ToString("yyyy-MM-dd")</td>
                <td scope="row">@intern.EndDate.ToString("yyyy-MM-dd")</td> *@
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public ICollection<CompanyInternshipsShortListDTO> Internships { get; set; } = new List<CompanyInternshipsShortListDTO>();
}
