<div class="row">
    <form class="d-flex" role="search">
        <input type="text" @bind="searchText" placeholder="Sök student..." />
        @* <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Kategorier
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div> *@
        <button class="btn btn-success" type="submit">Sök</button>
    </form>
    <div>
        <ul>
            @foreach ( var student in SearchResult)
            {
                <li>@student.Name</li>
            }
        </ul>
    </div>

</div>