@using APLMatchMaker.Client.Helpers
@using APLMatchMaker.Shared.DTOs.StudentsDTOs

<table class="table">
    <thead>
        <tr>
            <th scope="col">Namn</th>
            <th scope="col">E-post</th>
            <th scope="col">Adress</th>
            <th scope="col">Nivå</th>
            <th scope="col">Språk</th>
        </tr>
    </thead>
    <StudentListTableBody Students="Students"/>
</table>

