@page "/companyedit/{Id:int}"
@using APLMatchMaker.Shared.DTOs.CompanyDTOs


<h3>Redigera information om Företaget</h3>

@if (ErrorMessage != null)
{
    <div>
        <p class="alert alert-danger">Nåt har gått galet: @ErrorMessage</p>
    </div>
}

@if (companyToUpdate != null)
{
    <div class="row">
        <div class="col">
            <label for="Name" class="form-label">Namn: </label>
            <input type="text" class="form-control" @bind="companyToUpdate.CompanyName" id="CompanyName" placeholder="Företagets namn ">
        </div>
        <div class="col">
            <label for="OrganizationNumber" class="form-label">Org.nr: </label>
            <input type="text" class="form-control" @bind="companyToUpdate.OrganizationNumber" id="OrganizationNumber" placeholder="Organisationsnummer ">
        </div>
    </div>

    <div class="mb-3">
        <label for="Website" class="form-label">Hemsida: </label>
        <input type="text" class="form-control" @bind="companyToUpdate.Website" id="Website" placeholder="www.foretag.se ">
    </div>

    <div class="mb-3">
        <label for="CompanyEmail" class="form-label">E-post: </label>
        <input type="text" class="form-control" @bind="companyToUpdate.CompanyEmail" id="Website" placeholder="info@foretag.se ">
    </div>

    <div class="mb-3">
        <label for="Phone" class="form-label">Växel: </label>
        <input type="text" class="form-control" @bind="companyToUpdate.Phone" id="Phone" placeholder="Telefon ">
    </div>

    <div class="mb-3">
        <label for="PostalAdress" class="form-label">Postadress: </label>
        <input type="text" class="form-control" @bind="companyToUpdate.PostalAdress" id="PostalAdress" placeholder="Gata ">
    </div>

    <div class="row">
        <div class="col">
            <label for="PostalNumber" class="form-label">Postnummer: </label>
            <input type="text" class="form-control" @bind="companyToUpdate.PostalNumber" id="PostalNumber" placeholder="Postnummer ">
        </div>
        <div class="col">
            <label for="City" class="form-label">Postort: </label>
            <input type="text" class="form-control" @bind="companyToUpdate.City" id="City" placeholder="Postort ">
        </div>
    </div>

    <br />

    <div class="mb-3">
        <label for="Notes" class="form-label">Övrigt:</label>
        <textarea class="form-control" @bind="companyToUpdate.Notes" id="notes" rows="3"></textarea>
    </div>




    <div>
        <button class="btn btn-success" @onclick="()=>ValidateSubmit()"> <span class="bi bi-save "></span> Spara</button>
        <a href="@($"/company")" class="btn btn-secondary"> <span class="bi bi-x-lg "></span> Avbryt</a>
    </div>

    <br/>
}