@page "/coursedetails"

<h3>Informationer om kursen</h3>

<p><strong>Namn: </strong></p>
<p><strong>Beskrivning: </strong></p>
<p><strong>Start datum: </strong></p>
<p><strong>Slut datum: </strong></p>
<button>Redigera</button>
<button>Ta bort</button>
<button>Tillbaka</button>





