@page "/"
@using APLMatchMaker.Client.Components


<div class="statistic">
    <h1>Välkommen till Lexicon - APL Matchmaking</h1>
<pre>
    Ta steget ut eller vidare i arbetslivet genom våra yrkesutbildningar anpassade efter vad företagen efterfrågar.
    En stor del av studietiden sker i form av samarbete med företagen.
</pre>


    <strong>Antal kurser:</strong>&nbsp;18<br/>
    <strong>Antal aktiva studenter:</strong>&nbsp;35<br />
    <strong>Antal företag:</strong>&nbsp;9<br />
    <strong>Antal studenter i praktik:</strong>&nbsp;11 <br />
    <strong>Antal studenter som har fått jobb:</strong>&nbsp;12
</div>



