@page "/"
@using APLMatchMaker.Client.Components


<h1>Välkommen till Lexicon - APL Matchmaking</h1>

<pre>
    Ta steget ut eller vidare i arbetslivet genom våra yrkesutbildningar anpassade efter vad företagen efterfrågar.
    En stor del av studietiden sker i form av samarbete med företagen.
</pre>



<pre>
    <strong>Antal kurser:</strong>18<br/>
    <strong>Antal studenter:</strong>35<br />
    <strong>Antal företag:</strong>9<br />
</pre>



