@page "/ListOfCourses"
@using APLMatchMaker.Shared.DTOs.CoursesDTOs;
@using APLMatchMaker.Client.Components;
    using APLMatchMaker.Shared.DTOs.CoursesDTOs;
<h3>ListOfCourses</h3>

<CoursList CompListOfCourses=PageListCourses.ListOfCourses></CoursList>

