@page "/ListOfCourses"
@using APLMatchMaker.Shared.DTOs.CoursesDTOs;
@using APLMatchMaker.Client.Components;
<h3>Kurslista</h3>
<form @onsubmit="HandleSearch">
    <input type="search" style="width:20rem" @bind-value="searchText" placeholder="Sök på kursnamn..." />
    <button class="btn btn-primary" type="submit">Sök</button>
    <a href="@($"addcourse")" class="btn btn-success"><i class="oi oi-plus"></i> Lägg till en ny kurs</a>

</form>


@if (PageListCourses == null && errorMessage == null)
{
    <p>Hämtar...</p>
}
else if (errorMessage != null)
{
    <p class="alert alert-danger">Fel vid datahämtning: @errorMessage</p>
}
else if (PageListCourses!.Count == 0)
{
    <p>Ingen kurs hittad.</p>
}
else
{
    <br />

    <CourseList CompListOfCourses=PageListCourses></CourseList>
}
