@page "/deletestudent/{Id}"
@using APLMatchMaker.Shared.DTOs.StudentsDTOs
@using APLMatchMaker.Client.Components
@using System.Net.Http.Json

<h3>Ta bort student</h3>

@if (studentDelete != null)
{
    <div>
        <div style="margin: 0 27rem">
            <p><h5>Är du säker på att du vill ta bort den här eleven?</h5></p>
        </div>
        @* <div class="btn-group btn-" style="margin: 1rem 35rem; height:auto; ">
            <button class="btn btn-danger" @onclick="Delete"><i class="bi bi-trash"></i> Radera</button>
            <a href="@($"/studentdetails/{Id}")" class="btn btn-secondary"><i class="bi bi-caret-left"></i> Avbryta</a>
        </div> *@
        <div style="padding:0 33.5rem 1rem 33.5rem;">
            <button class="btn btn-danger" @onclick="Delete"><i class="bi bi-trash bi-2x"></i> Radera</button>
            <a href="@($"/studentdetails/{Id}")" class="btn btn-secondary m-1"><i class="bi bi-caret-left bi-2x"></i> Avbryta</a>
        </div>

        <StudentDetails studentDetails="@studentDelete" />
    </div>
}
else
{
    <p>Inga studentuppgifter hittades.</p>
}


