@page "/deletestudent/{Id}"
@using APLMatchMaker.Shared.DTOs.StudentsDTOs
@using APLMatchMaker.Client.Components
@using System.Net.Http.Json

<h3>Ta bort student</h3>

@if (studentDelete != null)
{
    <p><h5>Är du säker på att du vill ta bort den här eleven?</h5></p>

    <StudentDetails studentDetails="@studentDelete" />

    <button class="btn btn-danger" @onclick="Delete">Radera</button>
}
else
{
    <p>Inga studentuppgifter hittades.</p>
}

<a href="@($"/ListOfStudents")" class="btn btn-danger m-1">Tillbaka till studentlistan</a>

