@page "/deletestudent/{Id}"
@using APLMatchMaker.Shared.DTOs.StudentsDTOs
@using APLMatchMaker.Client.Components
@using System.Net.Http.Json

<h3>Ta bort student</h3>

@if (studentDelete != null)
{
    <p><h5>Är du säker på att du vill ta bort den här eleven?</h5></p>

    <StudentDetails studentDetails="@studentDelete" />

    <button class="btn btn-danger" @onclick="Delete">Radera</button>
}
else
{
    <p>Inga studentuppgifter hittades.</p>
}

<a href="@($"/ListOfStudents")" class="btn btn-danger m-1">Tillbaka till studentlistan</a>

@code {
    [Parameter]
    public string? Id { get; set; }

    private StudentForDetailsDTO? studentDelete;

    private string? ErrorMessage;

    [Inject]
    private HttpClient? Http { get; set; }

    [Inject]
    private NavigationManager? NavigationManager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            studentDelete = await Http!.GetFromJsonAsync<StudentForDetailsDTO>($"api/student/{Id}");
        }
        catch (Exception ex)
        {
            ErrorMessage = "Error loading student details: " + ex.Message;
        }
    }

    private async Task Delete()
    {
        try
        {
            var response = await Http!.DeleteAsync($"api/student/{Id}");
            if (response.IsSuccessStatusCode)
            {
                NavigationManager!.NavigateTo($"/ListOfStudents");
            }
            else
            {
                ErrorMessage = "Failed to delete student. Error: " + response.StatusCode;
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = "Error deleting student: " + ex.Message;
        }
    }
}
